{% extends 'main/layout.html' %}

{% block content%}
   <h2>HTML</h2>
<p>
HTML – це будівельні блоки сторінки сайту. За допомогою нього задаються структури на сайті та їх мінімальні властивості (що залежать від типу структури). За структури HTML відповідають теги, а за властивості - атрибути.
</p>
<p>
Синтаксис парних тегів:
<div class="Examples">
<b>&lt;Назва тегу та його атрибути&gt;</b>...<b>&lt;/Назва тегу&gt;</b>
</div>
</p>
<p>
Синтаксис одиночних тегів:
<div class="Examples">
<b>&lt;Назва тегу та його атрибути&gt;</b>
</div>
</p>
<h3>Структура HTML</h3>
<p>
1) Оголошення HTML файлу.
<div class="Examples">
<b>&lt;!DOCTYPE html&gt;</b>
</div>
</p>
<p>
2) Голова файлу де оголошуються назва сторінки та підключаються зовнішні файли (CSS-файл, файли з кодами тощо). Голова HTML задається парним тегом <b>&lt;head&gt;</b>. Приклад:
<div class="Examples">
<p><b>&lt;head&gt;</b></p>
<p><b>&lt;title&gt;</b>Назва сторінки<b>&lt;/title&gt;</b> - назва сторінки</p>
<p><b>&lt;link rel="stylesheet" type="text/css" href="CSS.css"&gt;</b> - підключення CSS</p>
<p><b>&lt;/head&gt;</b></p>
</div>
</p>
<p>
3) Тіло файлу, де прописується основний контент. Тіло сайту оголошується парним тегом <b>&lt;body&gt;</b>.
</p>
<h3>Таблиці та блоки</h3>
<p>Таблиці та блоки задають "склет" сайту. Вони відрізняються тим, що таблиця вже має структуру за замовчуванням, а блоки створюються незалежно і вимагають тонкої настройки. Таблиці оголошуються парним тегом <b>&lt;table&gt;</b>, а блоки - парним тегом <b>&lt;div&gt;</b>.
</p>
<p>Розглянемо синіаксис таблиць</p>
<p>1) Насамперед формуються рядки за допомогою парного тега <b>&lt;tr&gt;</b></p>
<div class="Examples">
<p><b>&lt;table&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;/table&gt;</b></p>
</div>
<p>Кожна пара <b>&lt;tr&gt;</b><b>&lt;/tr&gt;</b> задає один рядок</p>
<p>2) Усередині тега <b>&lt;tr&gt;</b><b>&lt;/tr&gt;</b> формуємо комірки заголовка та стовпці таблиці.
<br>За заголовні комірки відповідає парний тег <b>&lt;th&gt;</b>.
<br>А за стовпці – парний тег <b>&lt;td&gt;</b>.</p>
<div class="Examples">
Код
<p><b>&lt;table&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;th&gt;</b>заголовок 1<b>&lt;/th&gt;</b><b>&lt;th&gt;</b>заголовок 2<b>&lt;/th&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;td&gt;</b>комірка 1.1<b>&lt;/td&gt;</b><b>&lt;td&gt;</b>комірка 2.1<b>&lt;/td&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;td&gt;</b>комірка 1.2<b>&lt;/td&gt;</b><b>&lt;td&gt;</b>комірка 2.2<b>&lt;/td&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;td&gt;</b>комірка 1.3<b>&lt;/td&gt;</b><b>&lt;td&gt;</b>комірка 2.3<b>&lt;/td&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;/table&gt;</b></p>
І маємо
<table>
<tr><th>заголовок 1</th><th>заголовок 2</th></tr>
<tr><td>комірка 1.1</td><td>комірка 2.1</td></tr>
<tr><td>комірка 1.2</td><td>комірка 2.2</td></tr>
<tr><td>комірка 1.3</td><td>комірка 2.3</td></tr>
</table>
</div>
<p>3) У деяких випадках нам потрібно об'єднати деякі осередки в одну.
<br>Точніше не поєднати, а розтягнути.
<br>За об'єднання рядів відповідає тег <b>&lt;rowspan&gt;</b>.
<br>А за об'єднання стовпців <b>&lt;colspan&gt;;</b>.
<br>Ці теги поміщають усередину тега <b>&lt;td&gt;</b> таким чином:
<br><b>&lt;td colspan(или rowspan)="к-сть стовпців (або рядів) які ви хочете щоб цей осередок "поглинув" в себе"&gt;.</b></p>
<div class="Examples">
Код
<p><b>&lt;table&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;th&gt;</b>заголовок 1<b>&lt;/th&gt;</b><b>&lt;th&gt;</b>заголовок 2<b>&lt;/th&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;td colspan="2"&gt;</b>комірка 1.1<b>&lt;/td&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;td rowspan="2"&gt;</b>комірка 1.2<b>&lt;/td&gt;</b><b>&lt;td&gt;</b>комірка 2.2<b>&lt;/td&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;tr&gt;</b><b>&lt;td&gt;</b>комірка 2.3<b>&lt;/td&gt;</b><b>&lt;/tr&gt;</b></p>
<p><b>&lt;/table&gt;</b></p>
І маємо
<p><table>
<tr><th class="TableBorder">заголовок 1</th><th class="TableBorder">заголовок 2</th></tr>
<tr><td colspan="2" class="TableBorder">комірка 1.1</td></tr>
<tr><td rowspan="2" class="TableBorder">комірка 1.2</td><td class="TableBorder">комірка 2.2</td></tr>
<tr><td class="TableBorder">комірка 2.3</td></tr>
</table>
(були також додані рамки щоб краще бачити результат)</p>
<p>Зверніть увагу що комірки, які були "поглинені" (тобто 2.1 і 1.3) в коді не прописуються.
<br></p></div>
<p>Тепер розглянемо атрибути застосовні для тегів <b>&lt;table&gt;, &lt;div&gt;, &lt;tr&gt;,&lt;td&gt;</b> та інших.</p>
<p>1) Атрибути <b>width</b> та <b>height</b>.
<br>Атрибути <b>width</b> та <b>height</b> відповідає за довжину та висоту відповідно.
<br>Вони можуть приймати значення px,em або в %.</p>
<div class="Examples">
<b>&lt;table width="10px" height="10%"&gt;</b><b>&lt;/table&gt;</b>
</div>
<p>2) Атрибути <b>valign</b> та <b>align</b>.
<br><b>valign</b> - Вертикальне вирівнювання.
<br><b>align</b> - Горизонтальне вирівнювання.
<br>Вони можуть набувати значень<b>top, right, bottom, left</b></p>
<div class="Examples">
<b>&lt;tr valign="top" align="left"&gt;</b><b>&lt;/tr&gt;</b>
</div>
<p>3) Атрибут <b>border</b> (рамка).</p>
<div class="Examples">
<b>&lt;th border="1"&gt;</b><b>&lt;/th&gt;</b>
</div>
<p>4) Атрибути  <b>id</b> та <b>class</b> прив'язують тег з CSS.</p>
<h3>Інщі елементи сторінки</h3>
<p>1) Заголовки на сторінці викликаються через парні теги <b>&lt;h1&gt;</b>,<b>&lt;h2&gt;</b>...<b>&lt;h6&gt;</b>. Де <b>&lt;h1&gt;</b> - головний заголовок, <b>&lt;h2&gt;</b> - заголовок другого порядку і тд.</p>
<div class="Examples">
<p><b>&lt;h1&gt;</b>Заголовок 1<b>&lt;/h1&gt;</b></p>
<p><b>&lt;h2&gt;</b>Заголовок 2<b>&lt;/h2&gt;</b></p>
<p><b>&lt;h3&gt;</b>Заголовок 3<b>&lt;/h3&gt;</b></p>
<p><b>&lt;h4&gt;</b>Заголовок 4<b>&lt;/h4&gt;</b></p>
<p><b>&lt;h5&gt;</b>Заголовок 5<b>&lt;/h5&gt;</b></p>
<p><b>&lt;h6&gt;</b>Заголовок 6<b>&lt;/h6&gt;</b></p>
</div>
<p>Заголовок можно підключити до CSS за допомогою атрибутів <b>id</b> або <b>class</b>.</p>
<p>2) Параграфи викликаються парним тегом <b>&lt;p&gt;</b></p>
<div class="Examples">
<p><b>&lt;p&gt;</b>Перший параграф<b>&lt;/p&gt;</b></p>
<p><b>&lt;p&gt;</b>Другий параграф<b>&lt;/p&gt;</b></p>
</div>
<p>Параграф можно підключити до CSS за допомогою атрибутів <b>id</b> або <b>class</b>.</p>
<p>3) Посилання викликаються парним тегом <b>&lt;а&gt;</b>. Адресса посилання задається атрибутом <b>href</b></p>
<div class="Examples">
<p><b>&lt;a href="посилання"&gt;</b>Натисни мене<b>&lt;/a&gt;</b></p>
</div>
<p>Можна підключити до CSS за допомогою атрибутів <b>id</b> або <b>class</b>.</p>
<p>4) Кнопка викликаються парним тегом <b>&lt;button&gt;</b>. Можна підключити до CSS за допомогою атрибутів <b>id</b> або <b>class</b>. Можна підключити до кодового файлу за допомогою атрибута <b>id</b>.</p>
<div class="Examples">
<p><b>&lt;button&gt;</b>Натисни мене<b>&lt;/button&gt;</b></p>
</div>
<p>5) Зображення викликаються тегом <b>&lt;img&gt;</b>. Розташування картинки задається атрибутом <b>src</b>. Для картинки можна підключити тіж самі атрибути, що і для таблиць.</p>
<div class="Examples">
<p><b>&lt;img src="розташування"&gt;</b></p>
</div>
<h2>CSS</h2>
<p>CSS файл відповідає за стилістику об'єктів. Один CSS файл може бути підключений до багатьох html сторінок, що спрощує стилізацію сайту вцілому.</p>
<p>Синтаксис CSS:</p>
<p>1) Класи об'єктів викликаються символом <d>"."</d>. Наприклад: </p>
<p><div class="Examples">
<p><b>.Bord</b></p>
<p><b>{border:5px solid;}</b></p>
<p>Всі об'єкти, що були додані до класу <d>Bord</d> тепер мають неперервну рамку товщиною 1 піксель.</p>
</div></p>
<p>2) Обєкти певного id викликаються символом <d>"#"</d>. Наприклад: </p>
<p><div class="Examples">
<p><b>#Name1</b></p>
<p><b>{background-color: black;</b></p>
<p><b>font-family: Calibri;}</b></p>
<p>Всі об'єкти, що мають id <d>Name1</d> тепер мають чорний фон та шрифт тексту Calibri.</p>
</div></p>
<p>3) Можна модифікувати конкретний об'єкт:</p>
<p><div class="Examples">
<p><b>h2</b></p>
<p><b>{font-family:Calibri;}</b></p>
<p>Всі другорядні заголовки тепер мають шрифт Calibri.</p>
</div></p>
{% endblock %}